/* https://www.w3.org/TR/CSS/#terms */



html, body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	/* width: 800px; */
    width: auto;
	border-collapse: collapse;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 5px;
	background-color: rgba(255,255,255,0.2);
}

td > input {
	border-color: transparent;
	background-color: transparent;
}

th {
	text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    /* background-color: rgba(255,255,255,0.3); */
	background-color: rgba(0, 0, 0, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover::before {
content: "";
position: absolute;
left: 0;
right: 0;
top: -9999px;
bottom: -9999px;
/* background-color: rgba(255,255,255,0.2); */
background-color: rgba(0, 0, 0, 0.2);
z-index: -1;
}

.mcontainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

mtable {
    width: auto;
	border-collapse: collapse;
	
	overflow: hidden;
	z-index: -100;
}

/* mtd {
	padding: 5px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

mrow mtr:hover {
    background-color: rgba(255,255,255,0.3);
}

mrow mtd {
    position: relative;
}

mrow mtd:hover::before {
content: "";
position: absolute;
left: 0;
right: 0;
top: -9999px;
bottom: -9999px;
background-color: rgba(255,255,255,0.2);
z-index: -1;
} */