/*Class to stop highlighting of text with the mouse*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
/* This class controls stuff for the entire table. Thus, every element that relies on the table's position must also have this class */
.tbl {
  position: relative;
  left: 45px;
}
/* This class controls stuff in the table cells, e.g. the matrix cells */
.tblCells {
  border: 1px solid black;
  width: 100px;
}
/* This class controls stuff in the input box, that is the ${rows} x ${colums} fields */
.inputBox {
  width: 50px;
}

.buttons {
  width: 120px;
  margin-left: 10px;
}

.scaleButton {
  width: 40px;
  margin-left: 1px;
  visibility: hidden;
  background-color: blueviolet;
}