/* Buttons gallore: */
/* https://getcssscan.com/css-buttons-examples
   https://saruwakakun.com/en/css3-buttons */

/* Button styling: */
/* https://moderncss.dev/css-button-styling-guide/
   https://css-tricks.com/how-to-stack-elements-in-css/ */


/* Button icons gallore: */
/* https://fontawesome.com/icons/circle-check?f=classic&s=solid&pc=%2300ff40 */



/* All element types without a leading "." means they apply to all elements in the DOM of that type.
   (Unless another operator is present) */

/* input box =  the ${rows} x ${colums} fields*/




/* This is the container class for the input box. All children of the container inherit these by default */
.inputBox {
  position: relative;
  text-align: center;
  transform: translateY(-50%); /* Add padding corresponding to 50% of the container height */
}

/* This directly applies to the input box */
.inputBox > input {
  width: 35px;
  cursor: pointer;
}

/* Controls the textNode "x" */
.inputBox > span {
  color: white;
}

/* This is the container class for the buttons. All children of the container inherit these by default */
.buttonContainer {
  position: relative;
	display: flex;
	justify-content: center;
  align-items: center;
  transform: translateY(50%); /* Add padding corresponding to 50% of the container height */
/*  */

}

/* This directly applies to the buttons */
/* Vanilla CSS with not support for "&&" or "||". Just great. Unless it's classes: https://stackoverflow.com/questions/2797091/css-and-and-or */
.buttonContainer input, .buttonContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  box-sizing: border-box;
  cursor: pointer;
  margin-right: 10px; /* Add padding to the right of each button */

  background-color: #28a3b9;
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  line-height: 1.1;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
	/* border-radius: 8px; */ /* Rounded square */ 
  border-radius: 25px; /* Rounded*/
}

/* .confirmButton {
  align-self: start;
} */

.buttonContainer > input:hover, .buttonContainer a:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

/* Buttons with svg */
/* https://stackoverflow.com/a/67000346 */

.confirmButton svg {
  width: 1.5em;
  height: 1.5em;
  fill: greenyellow;
  /* margin-right: 0; */
  margin-left: 0.5em;
}




.scale_field {
  width: 40px;
  margin-left: 1px;
  visibility: visible;
}






/*dent around button*/
/* .btn{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgba(3, 169, 244, 0.54);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
} */
.btn .fa {/*Button itself*/
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle; 
  /* left: 10px;
  top: 9px; */
  border-radius: 50%;
  font-size: 40px;
  background-image: url(../images/circle-check-solid.svg), linear-gradient(white, white);
  background-color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  /* border-bottom: solid 2px #b5b5b5; */
}

.btn .fa:active{
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}